<.header>
  Edit Invite <%= @invite.id %>
  <:subtitle>Use this form to manage invite records in your database.</:subtitle>
</.header>

<.invite_form changeset={@changeset} action={~p"/admin/invites/#{@invite}"} />

<.back navigate={~p"/admin/invites"}>Back to invites</.back>
