<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:valid_until]} type="datetime-local" label="Valid until" />
  <.input field={f[:used]} type="checkbox" label="Used" />
  <:actions>
    <.button>Save Invite</.button>
  </:actions>
</.simple_form>
