<.section title="Users">
  <p>There are <%= @users_count %> users</p>
  <.link class="button is-link" navigate={~p"/admin/users"}>See All</.link>
</.section>

<.section title="User Invites" subtitle="Generated Links that allow User creation">
  <.link class="button is-link">Create Invite</.link>
</.section>

