<.section title="User Invite Generate" subtitle="Here is the single use user invite link">
  <p><a href={generate_invite_url(@user_invite)}>Invite</a></p>
  <pre><%= generate_invite_url(@user_invite) %></pre>
</.section>
